# Run with .env.dev: docker-compose --env-file .env.dev up -d

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    restart: unless-stopped

  postgres-test:
    image: postgres:latest
    container_name: postgres-test
    environment:
      POSTGRES_DB: ${DB_TEST_NAME}
      POSTGRES_USER: ${DB_TEST_USER}
      POSTGRES_PASSWORD: ${DB_TEST_PASSWORD}
    volumes:
      - postgres_test_data:/var/lib/postgresql/data
    ports:
      - "${DB_TEST_PORT}:5432"
    restart: unless-stopped

volumes:
  postgres_data:
  postgres_test_data:
